.day-container {
    width: 380px;
    min-height: 200px;
    background-color: #cacaca;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-self: flex-start;
}

.day-container > .title {
    /* background-color: #94bb7e; */
   text-align: center; 
   color: #666;
}